[submodule "maplab_tools"]
	path = maplab_tools
	url = git@github.com:ethz-asl/maplab_tools.git
[submodule "pointmatcher-ros"]
	path = registration-toolbox/pointmatcher-ros
	url = git@github.com:ANYbotics/pointmatcher-ros.git
[submodule "libpointmatcher"]
	path = registration-toolbox/libpointmatcher
	url = git@github.com:ANYbotics/libpointmatcher.git
